@ -1,12 +0,0 @@
.ok1{
    display: block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    width: 500px;

}
.ok2{
    background-color: yellow;
    margin: ;
}